body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top:0;
    background-color: black;
    height: 80px;
    width: 100%;
}

header > * {
    display: inline-block;
}

header img {
    border-radius: 50%;
    margin-top: 10px;
}

header h1 {
    width: calc(100% - 200px);
    color: white;
    margin: 0;
    text-align: center;
    position: fixed;
    top: 20px;
}
header nav {
    width: 200px;
    position: fixed;
    right: 20px;
    top: 30px;
}
li a {
    color: white;
}

ul li {
    display: inline-block;
}

main {
    margin-top: 80px;
}
section.description {
    padding: 20px 20%;
    background-color: gainsboro;
}
.description img {
    padding-top: 20px;
    padding-right: 10px;
    height: 40%;
    width: 40%;
    float: left;
}
.description-p2 {
    padding-top: 20px;
    clear: both;
}

section.relationship {
    padding: 20px 20%;
}
.relationship img {
    height: 45%;
    width: 45%;
    padding-left: 10px;
    padding-bottom: 20px;
    float: right;
}
footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: darkgray;
    clear: both;
    text-align: center;
}
